{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% comment %} Title block {% endcomment %}
  <title>{% block title %} {% endblock title %}</title>

  <!-- custom css -->
  <link rel="stylesheet" href="{% static "css/style.css" %}">

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
</head>

<body>
  <!-- Including navbar -->
  {% include 'partials/_navbar.html' %}

  <!-- Content -->
  {% block content %}

  {% endblock content %}

  <!-- Bootstrap JS -->
  <script src="{% static "bootstrap/js/bootstrap.bundle.js" %}"></script>
  <!-- Local JS -->
  <script src="{% static "js/main.js" %}"></script>
</body>

</html>